body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eae5e5;
}

nav {
    background: #222;
    color: rgb(222, 196, 196);
    padding: 30px;
}

nav .logo {
    float: left;  
    font-size: 22px;
    font-weight: bold;
    color: #100f0f;
}

nav ul {
    float: right; /* FLOAT requirement */
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;

}

.clearfix {
    clear: both; 
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

 
.profile-img {
    width: 200px;
    border-radius: 10px;
}

 
.skills-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border: 2px solid #333;
    width: 30%;
    border-radius: 8px;
}

 
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: #222;
    color: white;
    padding: 10px 20px;
    border: none;

}
nav{
    background: #973f3f;
}
.class{
    color: #000;
}
